[package]
name = "goo_format"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
chrono.workspace = true
clap.workspace = true
image.workspace = true
nalgebra.workspace = true

common = { path = "../common" }
